<h2 id="roomTitle">Room: <%- roomLocation%></h2>
<span>Welcome <span id="username"><%- username %></span>! </span><span id="playerPiece"></span>
<table id="board">
	<% for(var i = 0; i < boardArray.length; i++) {%>
		<tr>
			<% for(var j = 0; j < boardArray[i].length; j++){%>
				<td class="block" onclick="clickBlock(event)" id="<%= JSON.stringify(i) + JSON.stringify(j) %>"><%= boardArray[i][j] %></td>
			<%}%>
		</tr>
	<%}%>
</table>	
<p id="turnCounter">Player Turn: <%= turn%></p>
<button onclick="reset(event)">RESET</button>

<script>
	
	var socket = io(); 
	var roomLocation = <%- JSON.stringify(roomLocation) %>;
	var username = <%- JSON.stringify(username) %>;
	socket.emit('join', {location: roomLocation, username: username});

	function clickBlock(event) {
		var x = event.clientX, y = event.clientY;
		elementMouseIsOver = document.elementFromPoint(x, y);
		turnCounter = document.getElementById("turnCounter");
		console.log(elementMouseIsOver.id);
		socket.emit('move', elementMouseIsOver.id); 
	}

	socket.on('join', function(res) {
		//console.log(res.gameObj.players[res.id]);
		document.getElementById('playerPiece').innerHTML = 'You are ' + res.gameObj.players[res.id] + "'s";
	});

	socket.on('move', function(res) {
		console.log(res);
		document.getElementById(res.lastMove).innerHTML = res.lastTurn; 
		document.getElementById('turnCounter').innerHTML = 'Player Turn: ' + res.gameObj.turn; 
	});

	socket.on('draw', function(res) {
		console.log('draw');
		console.log(res);
		document.getElementById(res.lastMove).innerHTML = res.gameObj.turn;
		setTimeout(function() {
			alert(`Game is a Draw!`); 			
		},10);

	});

	socket.on('win', function(res) {
		//;console.log('win');
		console.log(res);
		document.getElementById(res.lastMove).innerHTML = res.gameObj.turn; 
		setTimeout(function() {
			alert(`Player ${res.gameObj.turn} wins!`); 
		},10);	
	});
	
	socket.on('reset', function() {
		location.reload(); 
	}); 
	
	
	function reset(event) {
		socket.emit('reset'); 
	}
</script>